
.DS_Store
logs/
/.ipynb_checkpoints
first_results/.ipynb_checkpoints
first_results/lineID/.ipynb_checkpoints
first_results/temperature_map/.ipynb_checkpoints

*.pickle
*.fz
*.fits

tclean.last

ACES/brick_linesurvey

