
.DS_Store
logs/
/.ipynb_checkpoints
first_results/.ipynb_checkpoints
first_results/lineID/.ipynb_checkpoints
first_results/temperature_map/.ipynb_checkpoints
first_results/diagnostic_plots
xclass_stuff/.ipynb_checkpoints
first_results/modeling/.ipynb_checkpoints
dasar/.ipynb_checkpoints

*.pickle
*.fz
*.fits

tclean.last

ACES/brick_linesurvey

core.carta_backend-11-1666723299-21249-3389-c0706a-s2.ufhpc.77122

dasar/632e0742965a6e88270d73d7/
bubble/data/
